.fligthsupdatewrapper {
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dddddddd;
    max-width: 300px;
    color: #333;
    height: max-content;
    min-height: 300px;
}

.flight-title {
    color: #333;
}

.filght-details {
    width: 90%;
}

.filght-details div {
    padding: 0.1rem;
    margin: 0.1rem;
    border-bottom: 1px solid #666;
}

.filght-details div:last-child {
    border-bottom: none;
}

.line-wrap{
    display: flex;
    justify-content: space-between;
}

